<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <!-- Logo -->
      <div class="logo-navigation-container">
        <div class="footer-logo-container">
          <a href="./index.html" class="footer-logo">
            <svg class="logo-icon" width="84" height="36">
              <use href="/img/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
        <!-- Navigation -->
        <div class="navigation-container">
          <ul class="navigation">
            <li><a href="/index.html" class="navigation-link">Home</a></li>
            <li><a href="#books" class="navigation-link">Books</a></li>
            <li><a href="#feedbacks" class="navigation-link">Feedbacks</a></li>
            <li><a href="#location" class="navigation-link">Location</a></li>
          </ul>
        </div>
      </div>
      <!-- Text line -->
      <div class="sign-up-container">
        <h2 class="sign-up-title">Join</h2>
        <div class="signup-button">
          <form class="sign-up-form" novalidate>
            <label aria-label="footer-email" class="footer-sign-up">
              <input
                type="email"
                name="footer-email"
                placeholder="Enter your email"
                class="footer-input"
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                required
              />
            </label>
            <button class="footer-button" type="submit">Sign Up</button>
          </form>
        </div>
        <p>* Required field</p>
      </div>
      <!-- Rights -->
      <div class="footer-copyright">
        <p class="footer-copyright-text">
          &copy; 2025 Booksy. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
