<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <a href="../index.html" class="logo">
          <svg class="logo-icon" width="84" height="36">
            <use href="../img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <nav class="nav">
          <a href="../index.html" class="nav-link">Home</a>
          <a href="#books" class="nav-link">Books</a>
          <a href="#feedbacks" class="nav-link">Feedbacks</a>
          <a href="#events" class="nav-link">Events</a>
          <a href="#location" class="nav-link">Location</a>
        </nav>
        <button class="menu-btn" aria-label="menu">
          <svg class="menu-icon" width="48" height="48">
            <use href="../img/icons.svg#icon-navbar"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-menu">
        <div class="mobile-menu-header">
          <a href="../index.html" class="logo">
            <svg class="logo-icon" width="84" height="36">
              <use href="../img/icons.svg#icon-logo"></use>
            </svg>
          </a>
          <button class="close-btn" aria-label="close menu">
            <svg class="close-icon" width="24" height="24">
              <use href="../img/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>

        <nav class="mobile-nav">
          <a href="#home" class="mobile-nav-link">Home</a>
          <a href="#books" class="mobile-nav-link">Books</a>
          <a href="#feedbacks" class="mobile-nav-link">Feedbacks</a>
          <a href="#events" class="mobile-nav-link">Events</a>
          <a href="#location" class="mobile-nav-link">Location</a>
        </nav>
      </div>
    </header>
  </body>
</html>
