<section class="hero-section" id="hero">
  <div class="container">
    <div class="hero-swiper">
      <ul class="hero-swiper-wrapper">
     <li class="hero-swiper-slide">
  <picture>
    <source
      media="(max-width: 767px)"
      srcset="./img/hero-mob-1x.jpg 1x, ./img/hero-mob-2x.jpg 2x"
    />
    <source
      media="(min-width: 768px) and (max-width: 1439px)"
      srcset="./img/hero-tabl-1x.jpg 1x, ./img/hero-tabl-2x.jpg 2x"
    />
    <source
      media="(min-width: 1440px)"
      srcset="./img/hero-desk-1x.jpg 1x, ./img/hero-desk-2x.jpg 2x"
    />
    <img
      src="./img/hero-mob-1x.jpg"
      alt="Book promotion: Get 10% off your first order"
      class="hero-slide-image"
    />
  </picture>
  <h2 class="hero-discount">Get 10% off <br />your first order</h2>
  <a href="#books" class="shop-btn">Shop Now!</a>
</li>

<li class="hero-swiper-slide">
  <picture>
    <source
      media="(max-width: 767px)"
      srcset="./img/slide-mob-2-1x.jpg 1x, ./img/slide-mob-2-2x.jpg 2x"
    />
    <source
      media="(min-width: 768px) and (max-width: 1439px)"
      srcset="./img/slide-tabl-2-1x.jpg 1x, ./img/slide-tabl-2-2x.jpg 2x"
    />
    <source
      media="(min-width: 1440px)"
      srcset="./img/slide-desk-2-1x.jpg 1x, ./img/slide-desk-2-2x.jpg 2x"
    />
    <img
      src="./img/slide-mob-2-1x.jpg"
      alt="Save 15% on selected books"
      class="hero-slide-image"
    />
  </picture>
  <h2 class="hero-discount">Save 15% on <br />some books</h2>
  <a href="#books" class="shop-btn">Shop Now!</a>
</li>

<li class="hero-swiper-slide">
  <picture>
    <source
      media="(max-width: 767px)"
      srcset="./img/slide-mob-3-1x.jpg 1x, ./img/slide-mob-3-2x.jpg 2x"
    />
    <source
      media="(min-width: 768px) and (max-width: 1439px)"
      srcset="./img/slide-tabl-3-1x.jpg 1x, ./img/slide-tabl-3-2x.jpg 2x"
    />
    <source
      media="(min-width: 1440px)"
      srcset="./img/slide-desk-3-1x.jpg 1x, ./img/slide-desk-3-2x.jpg 2x"
    />
    <img
      src="./img/slide-mob-3-1x.jpg"
      alt="Summer Sale: Up to 40% discounts on books"
      class="hero-slide-image"
    />
  </picture>
  <h2 class="hero-discount">Summer Sale! <br />Up to -40% discounts</h2>
  <a href="#books" class="shop-btn">Shop Now!</a>
</li>

<li class="hero-swiper-slide">
  <picture>
    <source
      media="(max-width: 767px)"
      srcset="./img/slide-mob-4-1x.jpg 1x, ./img/slide-mob-4-2x.jpg 2x"
    />
    <source
      media="(min-width: 768px) and (max-width: 1439px)"
      srcset="./img/slide-tabl-4-1x.jpg 1x, ./img/slide-tabl-4-2x.jpg 2x"
    />
    <source
      media="(min-width: 1440px)"
      srcset="./img/slide-desk-4-1x.jpg 1x, ./img/slide-desk-4-2x.jpg 2x"
    />
    <img
      src="./img/slide-mob-4-1x.jpg"
      alt="Last chance to buy spring bestsellers"
      class="hero-slide-image"
    />
  </picture>
  <h2 class="hero-discount">Last chance to buy <br />our spring bestsellers</h2>
  <a href="#books" class="shop-btn">Shop Now!</a>
</li>

      </ul>
    </div>
    <div class="hero-deck">
      <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
      <div class="hero-swiper-navigation">
        <!-- Кнопка "Назад"  -->
        <button type="button" class="hero-btn-left" aria-label="Previous slide">
          <svg class="hero-icon" width="14" height="14">
            <use href="/img/icons.svg#icon-left"></use>
          </svg>
        </button>

        <!-- Кнопка "Вперед"  -->
        <button type="button" class="hero-btn-right" aria-label="Next slide">
          <svg class="hero-icon" width="14" height="14">
            <use href="/img/icons.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
