<section class="location-section" id="location">
  <div class="container location__container">
    <div class="location__top">
      <div class="location__header">
        <p class="location__label">Location</p>
        <h2 class="location__title">How to find us</h2>
        <p class="location__text1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>

      <address class="location__address-block" aria-label="Contact information">
        <ul class="location__list">
          <li class="location__item">
            <svg class="location__icon" width="24" height="24">
              <use href="/img/icons.svg#icon-email"></use>
            </svg>
            <div class="location__info">
              <p class="location__subtitle">Email</p>
              <a href="mailto:hello@booksy.com" class="location__link"
                >hello@booksy.com</a
              >
            </div>
          </li>

          <li class="location__item">
            <svg class="location__icon" width="24" height="24">
              <use href="/img/icons.svg#icon-phone"></use>
            </svg>
            <div class="location__info">
              <p class="location__subtitle">Phone</p>
              <a href="tel:+612413043012" class="location__link"
                >+61 (241) 304-3012</a
              >
            </div>
          </li>

          <li class="location__item">
            <svg class="location__icon" width="24" height="24">
              <use href="/img/icons.svg#icon-location"></use>
            </svg>
            <div class="location__info">
              <p class="location__subtitle">Office</p>
              <span class="location__text"
                >123 Books St, Sydney NSW 2000 AU</span
              >
            </div>
          </li>
        </ul>
      </address>
    </div>

    <div class="location__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6625.258329411459!2d151.20086699653564!3d-33.873446705126234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3fa7449bc1%3A0xb5b4043ea960a5fc!2sDymocks%20Sydney!5e0!3m2!1suk!2sua!4v1759927493153!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</section>
