<div class="modal-overlay hidden">
  <div class="book-modal container">
    <button class="book-modal-close">
      <svg class="modal-close-svg" width="16" height="16">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-content">
      <img
        class="modal-book-image"
        src="/img/placeholder.jpg"
        alt="book-photos"
      />
      <div class="modal-book-info">
        <h4 class="modal-book-title"></h4>
        <p class="modal-book-author"></p>
        <p class="modal-book-price"></p>

        <div class="quantity">
          <button class="minus">-</button>
          <span class="count">1</span>
          <button class="plus">+</button>
        </div>

        <div class="modal-buttons">
          <button type="button" class="add-to-cart">Add to Cart</button>
          <button type="submit" class="buy-now">Buy Now</button>
        </div>

        <div class="accordion-container">
          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Description
                <span class="ac-icons">
                  <svg class="arrow-open" width="14" height="8">
                    <use href="/img/icons.svg#icon-top"></use>
                  </svg>
                  <svg class="arrow-close" width="14" height="8">
                    <use href="/img/icons.svg#icon-downCategoryFilters"></use>
                  </svg>
                </span>
              </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text modal-book-desc"></p>
            </div>
          </div>

          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Shipping
                <span class="ac-icons">
                  <svg class="arrow-open" width="14" height="8">
                    <use href="/img/icons.svg#icon-top"></use>
                  </svg>
                  <svg class="arrow-close" width="14" height="8">
                    <use href="/img/icons.svg#icon-downCategoryFilters"></use>
                  </svg>
                </span>
              </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">
                We ship across the United States within 2–5 business days. All
                orders are processed through USPS or a reliable courier service.
                Enjoy free standard shipping on orders over $50.
              </p>
            </div>
          </div>

          <div class="ac">
            <h2 class="ac-header">
              <button type="button" class="ac-trigger">
                Returns
                <span class="ac-icons">
                  <svg class="arrow-open" width="14" height="8">
                    <use href="/img/icons.svg#icon-top"></use>
                  </svg>
                  <svg class="arrow-close" width="14" height="8">
                    <use href="/img/icons.svg#icon-downCategoryFilters"></use>
                  </svg>
                </span>
              </button>
            </h2>
            <div class="ac-panel">
              <p class="ac-text">
                You can return an item within 14 days of receiving your order,
                provided it hasn’t been used and is in its original condition.
                To start a return, please contact our support team — we’ll guide
                you through the process quickly and hassle-free.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
